.home {
  padding: 8rem 3rem 0 3rem;
  background-color: #2E2182;
  height: 100vh;
}
.hero-text {
  margin: auto;
  text-align: center;
}
.hero-text h1 {
  color: #E94256;
  font-size: 7rem;
  font-weight: 500;
}
.hero-text h2 {
  color: #FFB300;
  font-size: 1.6rem;
  font-weight: 400;
}