
.timer-bar-container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 2rem auto;
}
.timer-bar-container h4 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 1rem;
}
.timer-bar {
  width: 100%;
  height: 14px;
  border: 1px rgb(199,168,251, 0.3) solid;
  border-radius: 20px;
}
.bar {
  height: 100%;
  background-color: green;
  border-radius: 20px;
  transition: width 2.5s ease;
}
@media (max-width: 578px) {
  .timer-bar-container {
    margin: 0 auto 1rem auto;
  }
}