.countdown {
  margin: 4rem auto;
  text-align: center;
  color: #F5F5F7;
}
.countdown h2 {
  font-size: 36px;
  font-weight: 200;
  margin: 2rem auto;
}
.countdown h1 {
  font-weight: 800;
  font-size: 56px;
  color: #FC5744;
}
.begin {
  margin: 8rem auto;
  min-height: 10rem;
  text-align: center;
}
.begin h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
  color: #0B9E43;
}


@media (max-width: 578px) {
  .countdown h2 {
    font-size: 28px;
  }
  .countdown h1 {
    font-size: 48px;
  }
}