.quizheader-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 56px 32px 32px 32px;
  border-radius: 20px;
  width: 255px;
  height: 215px;
  box-sizing: border-box;
}
.quizheader-wrapper:nth-child(1) {
  background: #459B4E
}
.quizheader-wrapper:nth-child(2) {
  background: #D55D2E
}
.quizheader-wrapper:nth-child(3) {
  background: #4598F8
}
.quizheader-wrapper:nth-child(4) {
  background: #F6B53F
}
.quizheader-wrapper:nth-child(5) {
  background: #E98686
}
.quizheader-wrapper:nth-child(6) {
  background: #BB86FF
}
.quizheader {
  margin-top: -20px;
}
.quizheader h2 {
  color: #F5F5F7;
  margin: 0;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}
.image {
  width: fit-content;
  height: fit-content;
  margin-top: -80px;
  margin-left: 110px;
}
.image img {
  width: 100px;
  height: 100px;
}
.quiz-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .highscore {
  background-color: #422EB8;
  text-align: center;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  width: fit-content;
} */
.highscore-number {
  margin: 0;
  text-align: center;
  width: fit-content;
}
.highscore-number h4 {
  margin: 10px 0 20px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F5F7;
}
.highscore-number h4 span {
  /* color: #FFB300; */
  color: #F5F5F7;
  margin-left: 0.6rem;
  font-size: 22px;
  font-weight: 800;
}
.quizheader button {
  padding: 0.5rem;
  margin: 0;
  width: 114.58px;
  height: 44px;
  background: #3C35B1;
  border-radius: 100px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FAE426;
}
.quizheader button:hover {
  cursor: pointer;
  scale: 1.1;
}

