body {
  background: #3225A9;
}

.quiz {
  max-width: 800px;
  margin: 55px auto;
}
.quiz h2 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  font-variant: small-caps;
  margin: 0 auto;
}