.quiz {
  height: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 2rem
}
.quiz h2 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  font-variant: small-caps;
  margin: 1rem auto 0.5rem auto;
}

@media (max-width: 800px) {
  .quiz {
    margin: 24px auto;
  }
}
@media (max-width: 578px) {
  .quiz {
    padding: 0 1rem;
  }
  .quiz h2 {
    margin: 0.5rem auto 0.5rem auto;
  }
}