
.quiz-page {
  background-color: #3225A9;
  min-height: 100vh;
  padding: 1rem 6rem;
  width: initial;
  box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 -ms-box-sizing:border-box; 
}

