.navbar {
  background-color: #3225A9;
  height: fit-content;
  width: 100%;
  padding: 1.6rem 0;
  font-size: 18px;
}
.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: auto;
  width: 90%;
  max-width: 1180px;
}
nav ul li {
  padding: 1rem;
  text-decoration: none;
}
.right-links {
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
}
.right-links a {
  padding: 0.6rem 1rem;
}
.link {
  color: #FFF;
  text-decoration: none;
}
.link:hover {
  color: #E98686;
  text-decoration: none;
}
.active {
  color: #F6B53F;
  font-weight: bold;
  text-decoration: none;
  pointer-events: none;
}
.active:hover {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}


@media (max-width: 578px) {
  .right-links a {
    padding: 0 0.5rem;
  }
} 
