.active-question {
  text-align: center;
  padding: 0 2rem;
  border-radius: 10px;
}
.active-question h3 {
  margin: 0 auto;
  width: fit-content;
  padding: 0;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #D7BFFF;
} 
.active-question p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 2rem;
}
.answers {
  display: flex;
  flex-direction: row;
  justify-content : center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 578px) {
  .active-question {
    padding: 0 0.5rem;
  }
  .active-question p {
    font-size: 18px;
    margin: 1rem 0;
  }
}
