.active-question {
  background-color: #2997FF;
  padding: 2rem;
  border-radius: 10px;
}
.active-question h3 {
  margin: 0;
  background-color: #fff;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 10px;
} 
.active-question p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.answers {
  padding: 1rem;
}
.answers button {
  margin: 1rem;
}
.answers button:hover {
  background: aqua;
  font-weight: bold;
}
.answers button:focus {
  background: red;
  font-weight: bold;
}