body {
    margin: 0;
    padding: 0;
}
.answers button {
    width: 6rem;
    height: 2rem;
}
.answers button:focus {
    color: white;
    background-color: blue;
}
.time-expire-container {
    padding: 4rem;
    border: 4px solid black;
    text-align: center;
}


