.scoreboard-page {
  padding: 2rem 6rem 6rem 6rem;
  background-color: #3225A9;
}
.scoreboard-page h2 {
  font-size: 48px;
width: -moz-fit-content;
width: fit-content;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 800;
color: #FC5744;
margin: 0;
letter-spacing: 1px;
word-spacing: 5px;
}
.scoreboard-page h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #FFB300;
}

.highscores-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.allscores-container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.score {
  background-color: #F5F5F7;
  padding: 1.4rem 3rem 1.4rem 1.4rem;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}


.score-number {
  background-color: #0066CC;
  font-weight: 800;
  padding: 0.8rem;
  color: #F5F5F7;
  margin-right: 0.5rem;
  border-radius: 8px;
}
.score-info {
  margin-left: 1rem;
}
.score-info h4 {
  font-size: 1.4rem;
  color: #2E2182;
  margin: 0;
}
.score-info h5 {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
}
.high {
  border: solid #E94256 2px;
}