.scoreboard-page {
  padding: 0 6rem 6rem 6rem;
  background-color: #3225A9;
  min-height: 100vh;
  padding: 1rem 3rem;
  margin: auto;
  width: auto;
  max-width: 1110px;
  height: fit-content;
}
.scoreboard-page h2, .noscores h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin: 0 0 2rem 1rem;
}
.noscores {
  margin: 6rem auto;
  width: fit-content;
}
.scores-container {
  display: flex;
  flex-direction: row;
}
.scores-container h3 {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  font-variant: small-caps;
  color: #FFFFFF;
  margin: 1rem 0 0 0;
}
.scores-container h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #220643;
  margin: 0 1rem 0 0 ;

}
.scores-container h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0;
}
.scores-container p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0 1rem 0 0;
}

.highscores-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.ribbon-wrapper {
  margin: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.medal-image-lg {
  width: 87px;
  height: 87px;
  margin: 0 auto -36px auto;
  position: relative;
}
.medal-image-sm {
  width: 67px;
  height: 67px;
  margin: 0 auto -36px auto;
  position: relative;
}
.medal-image-lg img, .medal-image-sm img {
  width: 100%;
  height: 100%;
} 
.highscore {
  width: 144px;
  min-height: 260px;
  background: linear-gradient(180deg, #C7A8FB 7.26%, rgba(198, 182, 223, 0.28) 54.73%, rgba(196, 196, 196, 0) 100%);
  text-align: center;
}
.lower {
  margin-top: 70px;
}
.block-out {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.triangle-left {
  width: 0px;
  height: 0px;
  border-top: 26px solid #3225A9;
  border-right: 72px solid transparent;
}
.triangle-right {
  width: 0px;
  height: 0px;
  border-top: 26px solid #3225A9;
  border-left: 72px solid transparent;
} 
.highscore-info {
  padding-top: 16px;
  margin: auto;
  width: fit-content;
}
.allscores-container { 
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.score {
  background-color: #F5F5F7;
  padding: 1.6rem 2rem;
  margin: 0.5rem; 
  border-radius: 10px;
  min-width: 348px;
  width: fit-content;
  /* min-height: 63px; */
  height: auto;
  background: #AF95E7;
  mix-blend-mode: normal;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.score-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto 0;
}
.score-metrics {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 1000px) {
  .scoreboard-page h2, .noscores h2 {
    text-align: center;
    margin: 0 0 2rem 0;
  }
  .scores-container {
    flex-direction: column;
  }
  .highscores-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .allscores-container {
    width: fit-content;
    margin: auto;
  }
} 

@media (max-width: 800px) {
  .scoreboard-page {
    padding: 0 1rem 6rem 1rem;
  }
}

@media (max-width: 578px) {
  .scoreboard-page {
    padding: 2rem 1rem 6rem 1rem
  }
  .highscores-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .highscore {
    margin: auto;
  }
  .ribbon-wrapper {
    margin: 1rem auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .medal-image-sm {
    width: 67px;
    height: 67px;
    margin: 0 auto -36px auto;
    /* position: relative; */
  }
  .score {
    margin: 0.5rem auto;
  }
}


.vertical {
  display: none;
}

@media (max-width: 578px) {
  .vertical {
    display: inline;
  }
  .horizontal {
    display: none;
  }
}








