.home {
  padding: 5rem 3rem 3rem 3rem;
  height: 100vh;
  background: #3225A9;
}
.hero-text {
  margin: 0 auto;
  text-align: center;
}
.hero-text h1 {
  color: #FFF;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 141px;
  margin: 1.6rem;
}
.hero-text span {
  color: #FAE526;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 141px;
}
.hero-text h2 {
  color: #FFF;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;  
  margin: 0.5rem;
}
.hero-text button {
  margin: 3rem 0;
  width: 150px;
  height: 44px;
  border-radius: 100px;
  border: none;
  filter: drop-shadow(0px 9px 18px rgba(0, 0, 0, 0.2));
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #3C35B1;
  background-color:#FFFFFF;
}

@media (max-width: 578px) {
  .home {
    padding: 4rem 1rem 2rem 1rem;
  }
  .hero-text h1 {
    font-size: 100px;
    margin: 1.6rem 0;
  }
  .hero-text h2 {
    font-size: 18px;
  }
}

